## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101), 80)

print(sample_list_1)

[59, 67, 45, 71, 36, 40, 75, 4, 19, 82, 32, 87, 63, 39, 38, 73, 23, 83, 25, 26, 86, 77, 70, 47, 41, 58, 16, 10, 85, 37, 2, 28, 17, 65, 34, 84, 69, 48, 96, 30, 92, 72, 99, 61, 91, 8, 22, 12, 94, 5, 78, 0, 64, 3, 62, 50, 15, 29, 24, 7, 44, 11, 60, 98, 79, 9, 88, 42, 27, 95, 55, 81, 49, 51, 89, 76, 74, 46, 35, 14]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 98, 99}

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []

for values in range(80):
    random_values = random.randint(0, 100) #randint does not guarantee uniqueness, while random.sample does
    sample_list_2.append(random_values)

print(sample_list_2)

[59, 19, 10, 77, 73, 50, 3, 15, 42, 33, 62, 11, 15, 100, 93, 3, 4, 56, 70, 16, 51, 7, 12, 14, 10, 56, 87, 60, 93, 42, 84, 47, 74, 71, 94, 89, 34, 44, 85, 47, 4, 100, 80, 5, 41, 66, 20, 49, 57, 96, 4, 34, 24, 64, 62, 36, 85, 55, 70, 3, 65, 82, 19, 66, 54, 34, 57, 4, 14, 56, 42, 27, 39, 80, 32, 64, 85, 38, 25, 83]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
len(set2) == len(sample_list_2)
print(len(set2))

#Not the same lenght because set removes duplicate values ?

54

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here
element = set1

if element not in set2:
   print(element, "are not in the set")

set3 = set1.difference(set2)
print("Elements present in set 1 but not in set 2 are:",set3)

len(set3)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 98, 99} are not in the set
Elements present in set 1 but not in set 2 are: {0, 2, 8, 9, 17, 22, 23, 26, 28, 29, 30, 35, 37, 40, 45, 46, 48, 58, 61, 63, 67, 69, 72, 75, 76, 78, 79, 81, 86, 88, 91, 92, 95, 98, 99}

35

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here
element_set2 = set2

if element not in set1:
   print(element, "are not in the set")

set4 = set2.difference(set1)
print("Elements present in set 2 but not in set 1 are:",set4)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 98, 99} are not in the set
Elements present in set 2 but not in set 1 are: {33, 66, 100, 80, 20, 54, 56, 57, 93}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5 = set1.intersection(set2)
print("Elements shared between set1 and set2 are:", set5)

len(set5)

Elements shared between set1 and set2 are: {3, 4, 5, 7, 10, 11, 12, 14, 15, 16, 19, 24, 25, 27, 32, 34, 36, 38, 39, 41, 42, 44, 47, 49, 50, 51, 55, 59, 60, 62, 64, 65, 70, 71, 73, 74, 77, 82, 83, 84, 85, 87, 89, 94, 96}

45

#### 8 - Create an empty set called `set6`.

In [15]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
# Your code here
set6.update(set3, set5)

print(set6)
len(set6)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 98, 99}

80

#### 10 - Check if `set1` and `set6` are equal.

In [17]:
# Your code here
len(set1) == len(set6)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [18]:
# Your code here
set2.issubset(set1)

False

In [20]:
# Your code here
set3.issubset(set1)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
union1 = set3.union(set4, set5)
print(union1)

union2 = set1.union(set2)
print(union2)


if union1 == union2:
    print("Values between union1 and union2 are equals.")
else:
    print("Values between union1 and union2 are not equals.")

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99, 100}
{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99, 100}
Values between union1 and union2 are equals.

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [22]:
# Your code here
list_set1 = list(set1)

remove_element = list_set1.pop(0)
print(remove_element)

set1 = set(list_set1)
print(set1)
len(set1)

0
{2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 55, 58, 59, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 94, 95, 96, 98, 99}

79

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in list_set1:
        list_set1.remove(element)
print(list_set1)

[2, 3, 4, 5, 7, 8, 10, 12, 14, 15, 16, 17, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 55, 58, 60, 62, 63, 64, 65, 67, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 98]

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [25]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [26]:
# Your code here

father_set = set(father_list)
mother_set = set(mother_list)
Jo_set= set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)
print(f"Father set is : {father_set}")
print(f"Mother set is : {mother_set}")
print(f"Jo set is : {Jo_set}")
print(f"Carlos set is : {Carlos_set}")
print(f"Mattia set is : {Mattia_set}")

Father set is : {'toilet paper', 'cucumber', 'garlic', 'flour', 'watermelon', 'yogurt', 'gums', 'onions'}
Mother set is : set()
Jo set is : {'milk', 'tomatoes', 'juice', 'cucumber', 'garlic', 'sugar', 'watermelon', 'yogurt', 'blueberries', 'gums', 'onions'}
Carlos set is : {'toilet paper', 'tomatoes', 'garlic', 'cherries', 'water', 'flour', 'blueberries', 'onions'}
Mattia set is : set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [27]:
# Your code here
different_elements_set = Jo_set.symmetric_difference(Carlos_set)
print(different_elements_set)

Mattia_set.update(different_elements_set)
print("Updated list of Mattia is:", Mattia_set)

{'toilet paper', 'milk', 'juice', 'cucumber', 'cherries', 'water', 'flour', 'sugar', 'watermelon', 'yogurt', 'gums'}
Updated list of Mattia is: {'toilet paper', 'milk', 'juice', 'cucumber', 'cherries', 'water', 'flour', 'sugar', 'watermelon', 'yogurt', 'gums'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [30]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['yogurt', 'mushrooms', 'sugar', 'yogurt', 'shampoo', 'vinegar', 'gums', 'tomatoes', 'yogurt', 'onions']

In [32]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

#Why does the mother not have the 10 items from the list in the set ?

{'mushrooms', 'tomatoes', 'shampoo', 'sugar', 'yogurt', 'gums', 'vinegar', 'onions'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [33]:
# Your code here
Common_family_list = set()
Common_family_list.update(mother_set, father_set, Jo_set, Carlos_set, Mattia_set)
print(Common_family_list)

Common_family_list.discard('toilet paper')

{'toilet paper', 'tomatoes', 'milk', 'juice', 'shampoo', 'garlic', 'cherries', 'water', 'yogurt', 'gums', 'vinegar', 'mushrooms', 'cucumber', 'sugar', 'flour', 'watermelon', 'blueberries', 'onions'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [34]:
# Your code here
print(Common_family_list)

{'tomatoes', 'milk', 'juice', 'shampoo', 'garlic', 'cherries', 'water', 'yogurt', 'gums', 'vinegar', 'mushrooms', 'cucumber', 'sugar', 'flour', 'watermelon', 'blueberries', 'onions'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [ ]:
# Your code here